@import '../../brandbook.scss';

.PixabayLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondColor;
  .PixabayLogo-text {
    margin: 0 10px;
  }
  a {
    transform: scale(0.8);
    margin: 3px 15px 5px 0;
    font-size: 12px;
    line-height: 1.7;
    color: #555;
    display: block;
    padding: 9px 12px 6px;
    border: 1px solid #ccc;
    text-decoration: none;
    width: 76px;
    opacity: 1;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.7;
    }
    i {
      display: block;
      width: 68px;
      height: 18px;
      overflow: hidden;
    }
    span {
      white-space: nowrap;
    }
  }
}
