@import '../../brandbook.scss';

.AppLogo {
  font-family: monospace;
  font-size: 24px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $fifthColor;
  &:visited, &:active {
    color: $fifthColor;
  }
  div {
    position: relative;
    top: -2px;
  }
}

@media screen and (max-width: $mobileMaxWidth) {
  .AppLogo {
    font-size: 18px;
  }
}