@import '../../brandbook.scss';

div.ImageTile {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  figure {
    background-color: transparent;
    margin: 0;
    position: relative;
    img {
      background-color: white;
    }
  }
  figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    visibility: hidden;
    background-color: $mainColor;
    color: $fifthColor;
    padding: 4px;
  }
  &:hover {
    figcaption {
      visibility: visible;
    }
  }
}