$mainColor: #212529;
$secondColor: #495057;
$secondColorHover: #6c757d;
$thirdColor: #adb5bd;
$fourthColor: #dee2e6;
$fifthColor: #f8f9fa;

$fontFamily: "Roboto","Helvetica","Arial",sans-serif;
$mobileMaxWidth: 480px;